@model %NameSpace%Web.Areas.%MVC-MODULE%.Models.%ClassName%EditModel
@{
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
}


@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.ID)
    <div class="dy-container  %MVC_MODELHEADHTMLCLASS%">
         %MVC_MODELHEADHTMLSTART%
                <table class="detailTable">
                    %MVC-HTML-BODY%
                </table>
		%MVC_MODELHEADHTMLSTARTEND%
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-sm" type="button" id="btnSave">确定</button>
        <button class="btn btn-danger btn-sm" type="button" onclick="apolloPage.framework.base.closeNewDialog();">关闭</button>
    </div>
}
@section head{
    <script type="text/javascript">
        $(function() {
            $("#btnSave").click(function(e) {
                e.preventDefault();
                var from = $("form");
                if (from.valid()) {
                    var id = $("#ID").val();
                    $.ajax({
                        url: "@Url.Content("~/" + @SystemConfig.SystemAreaKey + "/%MVC-MODULE%/%ClassName%/Edit")",
                        type: 'post',
                        dataType:'json',
                        data: $("form").serialize(),
                        success: function (result) {
                            if (!result.Success) {
                                apolloPage.framework.base.systemAlert(result.Message);
                            } else {
                                apolloPage.framework.base.systemAlert(id == "" || id == undefined ? "添加成功" : "更新成功");
                                apolloPage.framework.base.tabs.refresh();
                                %MVC-JSHEADVIEW%
                            }
                        }
                    });
                }
            });
        });

    </script>
}
